.calculatorWrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 80px;
}

.calculatorH1 {
  grid-row: 3;
}
.calculatorH2 {
  grid-row: 2;
}
.calculatorH h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 300;
}

.calculatorButton{
  margin-top: 20px;
  grid-row: 1;
}
