body,html {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(rgb(0, 35, 48), rgb(0, 83, 125));
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 100%;
}
